.dark {
  --primary: rgb(168 200 255);
  --surface-tint: rgb(168 200 255);
  --on-primary: rgb(7 48 95);
  --primary-container: rgb(38 71 119);
  --on-primary-container: rgb(214 227 255);
  --secondary: rgb(189 199 220);
  --on-secondary: rgb(39 49 65);
  --secondary-container: rgb(62 71 88);
  --on-secondary-container: rgb(217 227 248);
  --tertiary: rgb(220 188 225);
  --on-tertiary: rgb(62 40 69);
  --tertiary-container: rgb(86 62 92);
  --on-tertiary-container: rgb(249 216 254);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(17 19 24);
  --on-background: rgb(226 226 233);
  --surface: rgb(17 19 24);
  --on-surface: rgb(226 226 233);
  --surface-variant: rgb(67 71 78);
  --on-surface-variant: rgb(196 198 207);
  --outline: rgb(142 144 153);
  --outline-variant: rgb(67 71 78);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(226 226 233);
  --inverse-on-surface: rgb(46 48 53);
  --inverse-primary: rgb(63 95 144);
  --primary-fixed: rgb(214 227 255);
  --on-primary-fixed: rgb(0 27 61);
  --primary-fixed-dim: rgb(168 200 255);
  --on-primary-fixed-variant: rgb(38 71 119);
  --secondary-fixed: rgb(217 227 248);
  --on-secondary-fixed: rgb(18 28 43);
  --secondary-fixed-dim: rgb(189 199 220);
  --on-secondary-fixed-variant: rgb(62 71 88);
  --tertiary-fixed: rgb(249 216 254);
  --on-tertiary-fixed: rgb(40 19 47);
  --tertiary-fixed-dim: rgb(220 188 225);
  --on-tertiary-fixed-variant: rgb(86 62 92);
  --surface-dim: rgb(17 19 24);
  --surface-bright: rgb(55 57 62);
  --surface-container-lowest: rgb(12 14 19);
  --surface-container-low: rgb(25 28 32);
  --surface-container: rgb(29 32 36);
  --surface-container-high: rgb(40 42 47);
  --surface-container-highest: rgb(51 53 58);
}
