@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* roboto-latin-400-normal */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/roboto/files/roboto-latin-400-normal.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* roboto-latin-500-normal */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(@fontsource/roboto/files/roboto-latin-500-normal.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* roboto-latin-700-normal */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(@fontsource/roboto/files/roboto-latin-700-normal.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* fira-code-latin-weight-normal */
  @font-face {
    font-family: "Fira Code Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 300 700;
    src: url(@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2)
      format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  :root {
    /* Typeface */
    --typeface-brand: "Roboto";
    --typeface-plain: "Roboto";
    --typeface-sans: "Roboto";
    --typeface-mono: "Fira Code Variable";
    --typeface-weight-regular: 400;
    --typeface-weight-medium: 500;
    --typeface-weight-bold: 700;

    /* Typography Scale */
    /* Display Large */
    --typescale-display-large-font: var(--typeface-brand);
    --typescale-display-large-size: 3.5625rem;
    --typescale-display-large-line-height: 4rem;
    --typescale-display-large-tracking: -0.015625rem;
    --typescale-display-large-weight: var(--typeface-weight-regular);

    /* Display Medium */
    --typescale-display-medium-font: var(--typeface-brand);
    --typescale-display-medium-size: 2.8125rem;
    --typescale-display-medium-line-height: 3.25rem;
    --typescale-display-medium-tracking: 0rem;
    --typescale-display-medium-weight: var(--typeface-weight-regular);

    /* Display Small */
    --typescale-display-small-font: var(--typeface-brand);
    --typescale-display-small-size: 2.25rem;
    --typescale-display-small-line-height: 2.75rem;
    --typescale-display-small-tracking: 0rem;
    --typescale-display-small-weight: var(--typeface-weight-regular);

    /* Headline Large */
    --typescale-headline-large-font: var(--typeface-brand);
    --typescale-headline-large-size: 2rem;
    --typescale-headline-large-line-height: 2.5rem;
    --typescale-headline-large-tracking: 0rem;
    --typescale-headline-large-weight: var(--typeface-weight-regular);

    /* Headline Medium */
    --typescale-headline-medium-font: var(--typeface-brand);
    --typescale-headline-medium-size: 1.75rem;
    --typescale-headline-medium-line-height: 2.25rem;
    --typescale-headline-medium-tracking: 0rem;
    --typescale-headline-medium-weight: var(--typeface-weight-regular);

    /* Headline Small */
    --typescale-headline-small-font: var(--typeface-brand);
    --typescale-headline-small-size: 1.5rem;
    --typescale-headline-small-line-height: 2rem;
    --typescale-headline-small-tracking: 0rem;
    --typescale-headline-small-weight: var(--typeface-weight-regular);

    /* Title Large */
    --typescale-title-large-font: var(--typeface-brand);
    --typescale-title-large-size: 1.375rem;
    --typescale-title-large-line-height: 1.75rem;
    --typescale-title-large-tracking: 0rem;
    --typescale-title-large-weight: var(--typeface-weight-regular);

    /* Title Medium */
    --typescale-title-medium-font: var(--typeface-brand);
    --typescale-title-medium-size: 1rem;
    --typescale-title-medium-line-height: 1.5rem;
    --typescale-title-medium-tracking: 0.009375rem;
    --typescale-title-medium-weight: var(--typeface-weight-medium);

    /* Title Small */
    --typescale-title-small-font: var(--typeface-brand);
    --typescale-title-small-size: 0.875rem;
    --typescale-title-small-line-height: 1.25rem;
    --typescale-title-small-tracking: 0.00625rem;
    --typescale-title-small-weight: var(--typeface-weight-medium);

    /* Label Large */
    --typescale-label-large-font: var(--typeface-brand);
    --typescale-label-large-size: 0.875rem;
    --typescale-label-large-line-height: 1.25rem;
    --typescale-label-large-tracking: 0.00625rem;
    --typescale-label-large-weight: var(--typeface-weight-medium);

    /* Label Medium */
    --typescale-label-medium-font: var(--typeface-brand);
    --typescale-label-medium-size: 0.75rem;
    --typescale-label-medium-line-height: 1rem;
    --typescale-label-medium-tracking: 0.03125rem;
    --typescale-label-medium-weight: var(--typeface-weight-medium);

    /* Label Small */
    --typescale-label-small-font: var(--typeface-brand);
    --typescale-label-small-size: 0.6875rem;
    --typescale-label-small-line-height: 1rem;
    --typescale-label-small-tracking: 0.03125rem;
    --typescale-label-small-weight: var(--typeface-weight-medium);

    /* Body Large */
    --typescale-body-large-font: var(--typeface-plain);
    --typescale-body-large-size: 1rem;
    --typescale-body-large-line-height: 1.5rem;
    --typescale-body-large-tracking: 0.03125rem;
    --typescale-body-large-weight: var(--typeface-weight-regular);

    /* Body Medium */
    --typescale-body-medium-font: var(--typeface-plain);
    --typescale-body-medium-size: 0.875rem;
    --typescale-body-medium-line-height: 1.25rem;
    --typescale-body-medium-tracking: 0.015625rem;
    --typescale-body-medium-weight: var(--typeface-weight-regular);

    /* Body Small */
    --typescale-body-small-font: var(--typeface-plain);
    --typescale-body-small-size: 0.75rem;
    --typescale-body-small-line-height: 1rem;
    --typescale-body-small-tracking: 0.025rem;
    --typescale-body-small-weight: var(--typeface-weight-regular);

    /* Shape tokens */
    --shape-corner-extra-large: 1.75rem;
    --shape-corner-extra-large-top: (1.75rem 1.75rem 0 0);
    --shape-corner-extra-small: 0.25rem;
    --shape-corner-extra-small-top: (0.25rem 0.25rem 0 0);
    --shape-corner-full: 9999px;
    --shape-corner-large: 1rem;
    --shape-corner-large-end: (0 1rem 1rem 0);
    --shape-corner-large-start: (1rem 0px 0 1rem);
    --shape-corner-large-top: (1rem 1rem 0 0);
    --shape-corner-medium: 0.75rem;
    --shape-corner-none: 0;
    --shape-corner-small: 0.5rem;

    /* State tokens */
    --state-dragged-state-layer-opacity: 0.16;
    --state-focus-state-layer-opacity: 0.12;
    --state-hover-state-layer-opacity: 0.08;
    --state-pressed-state-layer-opacity: 0.12;

    /* Elevation tokens */
    --elevation-0: rgb(0 0 0 / 0.2) 0px 0px 0px 0px,
      rgb(0 0 0 / 0.14) 0px 0px 0px 0px, rgb(0 0 0 / 0.12) 0px 0px 0px 0px;
    --elevation-1: rgb(0 0 0 / 0.2) 0px 2px 1px -1px,
      rgb(0 0 0 / 0.14) 0px 1px 1px 0px, rgb(0 0 0 / 0.12) 0px 1px 3px 0px;
    --elevation-2: rgb(0 0 0 / 0.2) 0px 3px 3px -2px,
      rgb(0 0 0 / 0.14) 0px 3px 4px 0px, rgb(0 0 0 / 0.12) 0px 1px 8px 0px;
    --elevation-3: rgb(0 0 0 / 0.2) 0px 3px 5px -1px,
      rgb(0 0 0 / 0.14) 0px 6px 10px 0px, rgb(0 0 0 / 0.12) 0px 1px 18px 0px;
    --elevation-4: rgb(0 0 0 / 0.2) 0px 5px 5px -3px,
      rgb(0 0 0 / 0.14) 0px 8px 10px 1px, rgb(0 0 0 / 0.12) 0px 3px 14px 2px;
    --elevation-5: rgb(0 0 0 / 0.2) 0px 7px 8px -4px,
      rgb(0 0 0 / 0.14) 0px 12px 17px 2px, rgb(0 0 0 / 0.12) 0px 5px 22px 4px;

    /* Shadow colors with opacity baked in */
    --shadow-color-key: rgb(0 0 0 / 0.3);
    --shadow-color-ambient: rgb(0 0 0 / 0.15);

    --elevation-level-0: none;
    --elevation-level-1: 0px 1px 2px 0px var(--shadow-color-key),
      0px 1px 3px 1px var(--shadow-color-ambient);
    --elevation-level-2: 0px 1px 2px 0px var(--shadow-color-key),
      0px 2px 6px 2px var(--shadow-color-ambient);
    --elevation-level-3: 0px 1px 3px 0px var(--shadow-color-key),
      0px 4px 8px 3px var(--shadow-color-ambient);
    --elevation-level-4: 0px 2px 3px 0px var(--shadow-color-key),
      0px 6px 10px 4px var(--shadow-color-ambient);
    --elevation-level-5: 0px 4px 4px 0px var(--shadow-color-key),
      0px 8px 12px 6px var(--shadow-color-ambient);

    /* Motion tokens */
    --motion-duration-short-1: 50ms;
    --motion-duration-short-2: 100ms;
    --motion-duration-short-3: 150ms;
    --motion-duration-short-4: 200ms;
    --motion-duration-medium-1: 250ms;
    --motion-duration-medium-2: 300ms;
    --motion-duration-medium-3: 350ms;
    --motion-duration-medium-4: 400ms;
    --motion-duration-long-1: 450ms;
    --motion-duration-long-2: 500ms;
    --motion-duration-long-3: 550ms;
    --motion-duration-long-4: 600ms;
    --motion-duration-extra-long-1: 700ms;
    --motion-duration-extra-long-2: 800ms;
    --motion-duration-extra-long-3: 900ms;
    --motion-duration-extra-long-4: 1000ms;
    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
    --motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
    --motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
    --motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);

    /* Colors */
    --color-seed: #6750a4;
    --color-primary: 63 95 144;
    --color-surface-tint: 63 95 144;
    --color-on-primary: 255 255 255;
    --color-primary-container: 214 227 255;
    --color-on-primary-container: 0 27 61;
    --color-secondary: 85 95 113;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 217 227 248;
    --color-on-secondary-container: 18 28 43;
    --color-tertiary: 111 86 117;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 249 216 254;
    --color-on-tertiary-container: 40 19 47;
    --color-error: 186 26 26;
    --color-on-error: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-error-container: 65 0 2;
    --color-background: 249 249 255;
    --color-on-background: 25 28 32;
    --color-surface: 249 249 255;
    --color-on-surface: 25 28 32;
    --color-surface-variant: 224 226 236;
    --color-on-surface-variant: 67 71 78;
    --color-outline: 116 119 127;
    --color-outline-variant: 196 198 207;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 46 48 53;
    --color-inverse-on-surface: 240 240 247;
    --color-inverse-primary: 168 200 255;
    --color-primary-fixed: 214 227 255;
    --color-on-primary-fixed: 0 27 61;
    --color-primary-fixed-dim: 168 200 255;
    --color-on-primary-fixed-variant: 38 71 119;
    --color-secondary-fixed: 217 227 248;
    --color-on-secondary-fixed: 18 28 43;
    --color-secondary-fixed-dim: 189 199 220;
    --color-on-secondary-fixed-variant: 62 71 88;
    --color-tertiary-fixed: 249 216 254;
    --color-on-tertiary-fixed: 40 19 47;
    --color-tertiary-fixed-dim: 220 188 225;
    --color-on-tertiary-fixed-variant: 86 62 92;
    --color-surface-dim: 217 217 224;
    --color-surface-bright: 249 249 255;
    --color-surface-container-lowest: 255 255 255;
    --color-surface-container-low: 243 243 250;
    --color-surface-container: 237 237 244;
    --color-surface-container-high: 231 232 238;
    --color-surface-container-highest: 226 226 233;
    --color-ring: var(--color-primary);

    --border-width: 0;
  }
  .dark {
    --color-primary: 168 200 255;
    --color-surface-tint: 168 200 255;
    --color-on-primary: 7 48 95;
    --color-primary-container: 38 71 119;
    --color-on-primary-container: 214 227 255;
    --color-secondary: 189 199 220;
    --color-on-secondary: 39 49 65;
    --color-secondary-container: 62 71 88;
    --color-on-secondary-container: 217 227 248;
    --color-tertiary: 220 188 225;
    --color-on-tertiary: 62 40 69;
    --color-tertiary-container: 86 62 92;
    --color-on-tertiary-container: 249 216 254;
    --color-error: 255 180 171;
    --color-on-error: 105 0 5;
    --color-error-container: 147 0 10;
    --color-on-error-container: 255 218 214;
    --color-background: 17 19 24;
    --color-on-background: 226 226 233;
    --color-surface: 17 19 24;
    --color-on-surface: 226 226 233;
    --color-surface-variant: 67 71 78;
    --color-on-surface-variant: 196 198 207;
    --color-outline: 142 144 153;
    --color-outline-variant: 67 71 78;
    --color-shadow: 0 0 0;
    --color-scrim: 0 0 0;
    --color-inverse-surface: 226 226 233;
    --color-inverse-on-surface: 46 48 53;
    --color-inverse-primary: 63 95 144;
    --color-primary-fixed: 214 227 255;
    --color-on-primary-fixed: 0 27 61;
    --color-primary-fixed-dim: 168 200 255;
    --color-on-primary-fixed-variant: 38 71 119;
    --color-secondary-fixed: 217 227 248;
    --color-on-secondary-fixed: 18 28 43;
    --color-secondary-fixed-dim: 189 199 220;
    --color-on-secondary-fixed-variant: 62 71 88;
    --color-tertiary-fixed: 249 216 254;
    --color-on-tertiary-fixed: 40 19 47;
    --color-tertiary-fixed-dim: 220 188 225;
    --color-on-tertiary-fixed-variant: 86 62 92;
    --color-surface-dim: 17 19 24;
    --color-surface-bright: 55 57 62;
    --color-surface-container-lowest: 12 14 19;
    --color-surface-container-low: 25 28 32;
    --color-surface-container: 29 32 36;
    --color-surface-container-high: 40 42 47;
    --color-surface-container-highest: 51 53 58;
  }

  * {
    @apply box-border;
  }

  html {
    @apply h-dvh scroll-smooth;
  }

  body {
    @apply grid h-full grid-rows-[4rem_1fr_5rem] bg-background font-sans text-on-background md:grid-rows-[4rem_1fr];
  }

  code {
    @apply font-mono;
  }
  p code {
    @apply rounded-sm border-b-2 bg-tertiary-container px-2 py-0.5;
  }
  pre code {
    @apply whitespace-pre-wrap;
  }

  .no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }

  /* animations */
  @keyframes checkmark-draw {
    from {
      stroke-dasharray: 29.7833385;
      stroke-dashoffset: 29.7833385;
    }
    to {
      stroke-dasharray: 29.7833385;
      stroke-dashoffset: 0;
    }
  }
}
